<div>
    <fieldset>
        <legend>User Registration (Custom HEADER Track-ID (Random GUID) must be added in your Browser)</legend>
        <form method="post">
            <body>
                <label>Short Name:<br>
        <input type="text" name="short_name" required><br> </label>
                <label>Display Name:<br>
        <input type="text" name="display_name" required><br></label>
                <label>Can add Users:<br>
<input type="checkbox" name="can_add_users" value=true><br></label>
                <label>Can add Bank:<br>
<input type="checkbox" name="can_add_bank" value=true><br></label>
                <fieldset>
                    <legend>Provider</legend>
                    <label>Auth Provider Name:<br>
        <input type="text" name="auth_provider_name" required><br></label>
                    <label>Auth ID:<br>
        <input type="text" name="auth_id" required><br></label></fieldset>
                <fieldset>
                    <legend>Bank Permissions</legend>
                    <label>Bank ID:<br>
        <input type="text" name="bank_id"><br></label>
                    <label>Customer ID:<br>
        <input type="text" name="customer_id"><br></label>
                    <label>Can edit Branches:<br>
<input type="checkbox" name="can_edit_branches" value=true><br></label>
                    <label>Can edit Atms:<br>
<input type="checkbox" name="can_edit_atms" value=true><br></label>
                    <label>Can edit Products:<br>
<input type="checkbox" name="can_edit_products" value=true><br></label>
                </fieldset>
                <input type="submit" value="Submit">
            </body>
        </form>
    </fieldset>
</div>