<div>
    <fieldset>
        <form method="post">
            <headers>
                <label>Track-ID <input type="text" name="Track-ID" id="Track-ID"></label>
            </headers>

            <body>
                <label>Short Name:<br>
        <input type="text" name="short_name"><br> </label>
                <label>Display Name:<br>
        <input type="text" name="display_name"><br></label>
                <input type="submit" value="Submit">

            </body>
        </form>
    </fieldset>
</div>

can_add_bank: true , can_add_users: true, providers: [ { auth_provider_name: "fakelogin", auth_id: "123456789" } ], bank_permissions:
[ { bank_id: "5710bba5d42604e4072d1e72", customer_id: "5710bba5d42604e4072d1e73", can_edit_branches: true, can_edit_atms:false,
can_edit_products: false } ]